img{
    width: 300px;
    height: 300px;
}

.section1{
     display: flex;
     margin-left: 10vw;
     margin-right: 10vw;

     padding: 15px;
     background: bisque;
    color: brown;
 }

.section2{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;

    padding: 15px;
    background: darkkhaki;
    color: crimson;
}

.section3{
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;

    padding: 15px;
    background: darkgray;
    color: indigo;
}

.myLi:nth-child(3n){
    font-size: 16px;
}

.myLi:nth-child(3n+1){
    font-size: 12px;
}

.myLi:nth-child(3n+2){
     font-size: 14px;
 }

